body {
  width: 1728px;
  height: 1117px;
  background-image: linear-gradient(180deg, #FFF 0%, #E674E8 100%);
  position: relative; }

.container {
  width: 728px;
  height: 851px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 20px 15px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
