body {
    width: auto;
    height: 950px;
    background-image: linear-gradient(180deg, #FFF 0%, #E674E8 100%);
  
}

.navheader {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-size: 96px;
    position: relative;
}

.formtitle {
    font-family: "Allura", cursive;
    font-size: 42px;
}

.container {
    width: 728px;
    height: 851px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 20px 15px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    .inputgroup {
        margin-bottom: 8px;
        text-align: center;
        width: 350px;
        padding: 10px;
    }
    
    .inputgroup label {
        display: block;
        margin-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
    }
    
    .inputgroup input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #e8b1e9;
        color: #000;
    }
    
    .button {
        background-color: aqua;
        border-radius: 5px;
    }
    
    .button button {
        padding: 5px;
        width: 105%;
        font-weight: bold;
        font-family: "Allura", cursive;
        font-size: 24px;
    }
}



.img_container {
    display: flex;
    justify-content: space-between; /* Aligns children at the start and end */
    position: absolute; /* Positioned relative to the nearest positioned ancestor */
    top: 0; /* Aligns to the top of the body or nearest positioned ancestor */
    left: 0; /* Aligns to the left of the body or nearest positioned ancestor */
    width: 100%; /* Takes full width of the body or nearest positioned ancestor */
    z-index: 1; /* Behind the .container element */
    
    .chyprofilepic {
       margin-top: 188px;
       height: 764px;
       left: 58%;
       position: relative;
       z-index: 1; 
    }
    
    .chyprofilepic2 {
        height: 584px; /* Or any desired height */
        position: relative; /* Positioned absolutely within .img_container */
        right: 68%; /* Aligns to the right */
        top: 50%; /* Center vertically */
        transform: translateY(65%); /* Center vertically */
    }
}

@media (max-width: 768px) {
    body {
        height: 968px;
        width: auto;
        display: flex;
        justify-content: center;

    }

    .navheader {
        font-size: 88px;
    }

    .logoimg {
        display: none;
    }

    .container {
        width: 90%;
        height: auto;
        box-shadow: none;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        margin-top: 150px;
        

        .inputgroup {
            width: 100%;
            padding: 5px;
            align-items: center;
        }

        .button .button {
            width: 115%;
            align-items: center;
            right: 54%;
        }
    }

    .img_container {
        display: none;
    }
}